@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Inter", sans-serif;
     color: #243e63;
}


html{
  scroll-behavior: smooth;
}

body{
  max-width: 100vw;
  overflow-x: hidden;
}
.container { 
  padding: 96px 0;
}

a {
  text-decoration: none;
  position: relative;
}
a:hover {
  text-decoration: underline;
}
li {
  list-style-type: none;

}
btn {
  cursor: pointer;
}


row{
width: 100%;
max-width: 1200px;
margin: 0 auto;
}

.row__narrow{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

}
.purple{
  color: #6415ff;
}



/* 
nav
*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}
.nav__row {
width: 100%;
max-width: 1200px;
margin: 0 auto;
display: flex;
justify-content: space-between;
}
.nav__logo--wrapper {
  width: 20%;
  display: flex;
  align-items: center;
}
.nav__logo--img {
height: 100px;
width: 100px;

}
.nav__logo--title {
  font-size: 32px;
  font-weight: 700;
}
.nav__link--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2px;

}

.nav__link {
  font-size: 16px;
  font-weight: 600;
  padding: 4px 12px;
  letter-spacing: 0.35;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 300ms ease;

}
.nav__link:hover {
  color: #6415ff;
}
.nav__link:after {
  content:"";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #6415ff;
  transition: all 300ms ease;
  opacity: 0;
}

.nav__link--login {
  text-decoration: none;
}
.nav__link--login:hover {
   color: #6415ff;
}
.nav__link--primary {
  background-color: #6415ff;
  color: white;
  border-radius: 9999px;
padding: 10px 32px;
margin: 2px 0 0 ;
line-height: 1.5;
border: none;
}
.nav__link--primary:hover {
  color: white;
  background-color:rgb(106, 103, 205);
  text-decoration: none;
}

.btn__menu {
  background-color:transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: white;
  display: none;
  
}
 .btn__menu--close {
  background-color: transparent;
  position: absolute;
  right: 12px;
  top: 46px;
  padding: 12px;
  color:#cbd5e0;
 }
.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
  
}
.menu--open .menu__backdrop {
  display: flex;
   visibility: visible;
   opacity: 1;
}
.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__list {
padding: 24px 0;
}
.menu__link {
  font-size: 24px;
color: white;
}


/*header*/

.header__container {
max-width: 1200px;
  display: flex;
  margin: 0 auto;
}
.header__row {
  width: 60%;
  max-width: 1200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.header__description {
  font-size: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;


}
.header__description--para {
  font-size: 24px;
  margin-bottom: 24px;

}
.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.header__email--input {
  background-color: #fff;

  padding: 12px 192px 24px 32px;
  border-radius: 9999px;
  border: 2px solid rgb(229, 331, 235);
  font-size: 16px;
  font-weight: 500;
position: absolute;
top: o;
bottom: 0;
z-index: 1;
transition: border-color 300ms ease;
}
.header__email--button {
  z-index: 2;
  padding: 12px;
  margin: 8px;
  height: calc(100%-8px);
  border-radius: 9999px;
  width: 160px;
  font-weight: 70px;
  font-size: 16px;
  background-color: #6415ff;
  color: #fff;
  cursor: pointer;

}
.header__customers--title {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6;

}
.header__customer--logo {
  margin-top: 16px;
  opacity: .5;
  width: 60%;

}
.header__img--wrapper {
  width: 60%;
}
.header__img {
width: 100%
}

/*
features 
*/
.container {
  padding: 96px 0;
  
}
#features {
  position: relative;
}
section {
  padding:0 32px;
}
.row__narrow {
   display: flex;
  flex-direction: column;
  align-items: center;
 width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.features__section--tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6;
  font-weight: 700;
  text-transform: uppercase;
}
.features__section--title {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  color: rgb(36,62,99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.25em;

}
.features__section--para {
  text-align: center;
  max-width: 576px;
  font-size: 28px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;

}

#features .section__title 
#pricing .section__title {
  text-align: center;
}

.features {
display: flex;
flex-wrap: wrap;
margin-top: 40px;
}
.feature {
width: calc(100%/3);
}
.feature__row {
  display: flex;
  align-items: flex-start;
  color: #243e63;
  padding: 32px 8px;

}
.feature__img--wrapper {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}
.feature__img {
  width: 24px;
  height: 24px;
}
.feature__text {
margin-top: 8px;
margin-left: 16px;
}
.feature__title {
font-size: 24px;
}
.feature__para {
  margin-top: 16px;
  font-size: 16px;
  max-width: calc(634px/3);
  color: rgb(124, 139, 161);
  line-height: 2;
  font-weight: 500;

}

/*

quality
*/

.quality__container {
padding: 96px 0;
}
.quality__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
max-width: 1200px;
margin: 0 auto;

}
.quality__description {
  width: 45%;
  display: flex;
  flex-direction: column;

}
.quality__section--tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6;
  font-weight: 700;
  text-transform: uppercase;

}
.quality__section--title {
  font-size: 32px;
  line-height: 1.25;

}
.quality__section--para {
  font-size: 16px;

}
.quality__btn {
  max-width: 150px;
  margin-top: 32px;
  background-color:#6415ff;
  color: #fff;
  padding: 12px 32px;
  border: none;
  border-radius: 9999px;
  font-size: 14px;
  cursor: pointer;

}
.quality__img--wrapper {
  width: 50%;

}
.quality__img {
width: 100%;
}
/*
steps
*/

.steps {
  padding: 0 32px;
}
.steps__container {
  padding: 96px 0 ;
}
.steps__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__img--wrapper {
  display: flex;
  position: relative;
}
.steps__img {
  width: 100%;
}
.steps__description, .steps__img--wrapper {
  width: 50%;
}
.steps__description {
  padding: 32px 0;
  padding-left: 64px;
}
.steps__tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6;
  font-weight: 700;
  text-transform: uppercase;
}
.steps__title {
  font-size: 36px;
}
.steps__list {
  display: flex;
  flex-direction: column;

}
.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}
.step__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}
.step__description {
  display: flex;
  flex-direction: column;
  margin-left: 24px;

}
.step__title {
  font-weight: 600;
  font-size:20px ;
  color: #243e63;
  line-height: 1;
}
.step__para {
  font-size: 14px;
  color: #718096;
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}

/* 

values

*/
#values {
  padding: 0 32px;
}

.values__container {
  padding: 96px 0;

}
.values__row {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.values__description, .values__img {
  width: 50%;

}
.values__description {
  padding: 32px 64px 32px 0;
}
.values__tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6;
  font-weight: 700;
  text-transform: uppercase;

}
.values__title {
  margin-top: 16px;
  margin-bottom: 32px;
  line-height: 1.25;
font-size: 36px;
}
.values__para {
  margin-bottom: 24px;
  font-size: 16px;

}
.values__list {
  display: flex;
flex-direction: column;
max-width: 320px;

}
.value:nth-child(1) ,.value:nth-child(2) {
  margin-top: 40px;
  margin-right: 32px;

}
.value__title {
  margin-top: 20px;
  margin-right: 32px;
  display: flex;
  align-items: center;
}
.value__img--wrapper1 , .value:nth-child(1) {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #9ae6b4; 
}
.value__img--wrapper2 ,.value:nth-child(2) {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #feb2b2; 

}
.value__name {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
color: #243e63;
}
.value__para {
  margin-top: 16px;
  line-height: 1.625;
  color: #718096;


}
.values__btn {
  margin-top: 48px;
  padding: 12px 32px;
  border: none;
border-radius: 500px;
color: #fff;
background-color: #6415ff;
font-size: 14px;
font-weight: bold;
transition: all 300ms ease;
cursor: pointer;

}
.values__img {
  width: 50%;
}

/*

pricing

*/
.section {
  padding: 0 32px;
}
.pricing__container {
  padding: 96px 0;

}
.pricing__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}
.pricing__section--tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6;
  font-weight: 700;
  text-transform: uppercase;

}
.pricing__section--title {
  font-size: 48px;

}

.pricing__section--para {
font-size: 16px;
max-width: 576px;
text-align: center;
}
.plans {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;

}
.plan:nth-child(2) {
  background: linear-gradient(135deg, rgb( 76, 81,191)0%,
  rgb(102, 126,234)100%
  );
}
.plan:nth-child(2) .plan__stripe,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__name,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__duration, 
.plan:nth-child(2) .plan__target, 
.plan:nth-child(2) .plan__feature {
  color: #f7fafc;
}
.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__button {
  color: #f7fafc;
  background: linear-gradient(115deg, rgb(245, 101,101)0%,
  rgb(254, 178,178)100%);

}
.plan {
width: 100%;
max-width: 384px;
margin: 64px 32px 0 0;
padding-top: 8px;
border-radius: 8px;
overflow: hidden;
position: relative;
z-index: 100;

}
.plan__stripe {
color: #f7fafc;
background: linear-gradient(
  115deg, rgb( 56, 178, 172) 0% , rgb( 129, 230, 217) 100%) ;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 8px;

}
.plan:nth-child(2) .plan__stripe {
  visibility: hidden;
}
.plan__top {
padding: 32px;
text-align: center;
}
.plan__name {
  font-size: 20px;
  color: #1a202c;

}
.plan__price {
  font-size: 48px;
  margin: 4px 0;

}
.plan__duration {
  font-size: 16px;
  letter-spacing: 0.1;
  font-weight: bold;
  line-height: 1.625;
color: #a0aec0;
}
.plan__middle {
  padding: 32px;
  text-align: center;
  border-top: 2px solid rgb( 229,231,235);
  border-bottom: 2px solid rgb(229, 231,235) ;

}
.plan__target {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025em;

}
.plan__feature {
  margin-top: 20px;
  font-weight: 500;
  color: #718096;
  font-size: 16px;
  line-height: 1.5;
}
.plan__bottom {
  padding: 32px 64px;
  position: relative;
  text-align: center;
  z-index: 10;

}
.plan__button {
  width: 100%;
  padding: 16px 32px;
  border: none;
  border-radius: 500px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
  transition: all 300ms ease;
  cursor: pointer;
  color: #f7fafc;
  background: linear-gradient( 115deg,
   rgb(56, 178, 172) 0%,
   rgb(129, 230, 217)100%);

}
.plan:nth-child(2) .plan__button {
  color: #6415ff;
  background: #f7fafc;
}

/*

testimonials

*/
.testimonials__section {
padding: 0 32px;
}

.testimonial__container {
padding: 96px 0;
}
.testimonial__row {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;

}
.testimonial__img--wrapper {
  padding-top: 80px;
  width: 100%;
}
.testimonial__img {
  width: 100%;
}
.testimonials__description {
  display: flex;
  flex-direction: column;
  padding-left: 64px;

}
.section__tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6;
  font-weight: 700;
  text-transform: uppercase;

}
.section__title {
  margin: 16px 0 24px 0;
  font-size: 48px;
  font-weight: 900;
  color: rgb(36,62,99);
  line-height: 1.25;
  letter-spacing: 0.025;


}
.section__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
  

}
  
.testimonial {
margin-top: 40px;
}
.testimonial__rating i {
  margin: 4px 2px 0 12px;
  color: rgba(246, 173, 85);
  font-weight: 900;
}

.testimonial__title {
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
  line-height: 1.5;

}
.testimonial__para {
margin: 16px 0 40px 0 ;
font-size: 16px;
font-weight: 500;
color: #4a5568;
line-height: 1.625;

}
.testimonial__bottom {
  display: flex;
  justify-content: space-between;

}
.testimonial__profile {
display: flex;
align-items: center;
}
.testimonial__img2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.testimonial__name {
font-size: 20px;
font-weight: 700;
color: #243e63;
line-height: 1.5;
}
.testimonial__title {
font-size: 16px;
font-weight: 500;
color: #7c8ba1;
line-height: 1.5;
}
.testimonial__buttons {
  display: flex;
  align-items: center;

}
.testimonial__button {
display: flex;
align-items: center;
justify-content: center;
padding: 16px;
margin: 0 12px;
border-radius: 50%;
background: #edf2f7;
transition: all 300ms ease;
border: none;
cursor: pointer;
}
.button__divider {
width: 1px;
height: 24px;
background: rgb(229, 231, 235);

}
/*
 

start

*/

.start__container {
padding: 96px;
margin-bottom: 64px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(100, 21, 255);
}
.start__row {
margin: 0 auto;
padding: 0 36px;
width: 100%;
max-width: 1024px;
display: flex;
justify-content: center;
align-items: center;

}
.start__title {
  width: 50%;
  font-size: 30px;
  font-weight: 700;
  color: #f7fafc;
  line-height: 1.5;
  z-index: 2;

}
.start__buttons--container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

}
.start__button {
padding: 20px 40px;
border-radius: 500px;
font-weight: 700;
font-size: 16px;
color: #f7fafc;
line-height: 1.5;
letter-spacing: 0.o25em;
margin: 1px;
z-index: 2;
border: none;
cursor: pointer;

}
.start__button:nth-child(1) {
  margin-right: 32px;
  background: #f56565;
  box-shadow: rgba(0,0,0,0) 0px 0px 0px 0px,
  rgba(0,0,0,0) 0px 0px 0px 0px,
  rgba(o,0,0,0.1) 0px 10px 15px -3px,
  rgba(0,0,0,0.05) 0px 4px 6px -2px;
  transition: all 300ms ease;
}
.start__button:hover:nth-child(1) {
  background-color: rgba(229, 62, 62);
}
.start__button:nth-child(2) {
border: 1px solid rgba(160, 174,192);
color: #f7fafc;
background-color:#6415ff;
transition: all 300ms ease;

}
.start__button:hover:nth-child(2) {
color: rgba(100, 21, 255);
background-color: rgba(247, 250,252);

}
/*

footer

*/

.footer__container {
  padding: 96px 32px;
margin-bottom: -32px;
margin-top: 96px;
  position: relative;
  overflow: hidden;
  background-color: rgb(100, 21, 255);
}
.footer__row {
  width: 100%;
  max-width: 1024px;
  margin: o auto;
}
.footer__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -48px;

}
.footer__column {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;

}
.footer__column--title {
  font-weight: 700;
  color: #f7fafc;
  line-height: 1.5;
}
.footer__column--link {
  margin-top: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  cursor: pointer;
  color: #f7fafc;
  display: inline;
  text-decoration: none;
}
.footer__column--link:nth-child(2) {
  margin-top: 24px;
}
.footer__divider {
  width: 100%;
  height: 2px;
  margin: 64px 0;
  background: rgb(116,44,255);
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__logo--img {
  width: 32px;
  height: 32px;
}
.footer__logo--text {
  font-size: 20px;
  font-weight: 900;
  margin-left: 8px;
  color: #f7fafc;
  letter-spacing: 0.05em;
}
.footer__copyright {
  color: #f7fafc;
  font-weight: 500;
}
.footer__socials {
  display: flex;
  align-items: center;
  margin-left: -8px;

}
.footer__social--link {
  margin-left: 16px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7fafc;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms ease;
  z-index: 2;

}

/*

responsiveness
*/

@media (max-width: 1280px){
  header .row {
    align-items: flex-end;
  }
    .btn__menu {
    visibility: hidden;

  }
}

@media (max-width: 1024px) {
 
    header .row {
      flex-direction: column;
      align-items: center;
    }
    footer {
      padding: 80px 32px;
    }
    .plans {
      display: flex;
      align-items: center;
      justify-content: space-between;

    }
    .steps__img--wrapper {
      display: flex;
      flex-direction: column;
    }
  
    }
  

/*small phones / large smartphones*/

@media (max-width:768px) {
  .header__description {
    padding: 0 24px;
  }
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  .steps__img--wrapper {
      display: flex;
      flex-direction: column;
    }
  #pricing .row {
    margin-top: 40px;
  }
  .h1 {
    text-align: center;
    font-size: 40px;
  }
  .h2 {
    text-align: center;
    font-size: 26px;
  }
  .button {
    font-size: 18px;
  }
   .btn__menu {
    display: block;
    visibility: visible;
  }

  .nav__link--list {
    display: none;
  }
  .btn__menu {
    display: block;
  }

.features__section--title {
  font-size: 32px;
}
.features__section--para {
  font-size: 12px;
  text-align: center;
  
}
.feature__title {
  font-size: 12px;
}
.feature__para {
  font-size: 8px;
}
.feature__img--wrapper {
  padding: 12px;
}
}

 @media (max-width:640px) {
  .container {
    padding: 80px 0;
  }
  .h2 {
    font-size: 32px;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
  
 .header__img {
  display: none;
 }

.quality__row {
  display: flex;
  flex-direction: column;
}
.steps__row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.values__row {
  display: flex;
  flex-direction:column ;
}
.footer__columns {
display: flex;
align-items: center;
}
.start__button {
  visibility: hidden;
}
.features {
width: calc(100%/2);
}
.feature__title {
  font-size: 12px;
}
.feature__para {
  font-size: 8px;
}
.feature__text {
  padding-right: 12px;
}
.feature__img--wrapper {
  padding: 10px;
}
.footer__logo {
  margin: 4px;
}

.footer__logo--img {
width:16px ;
height: 16px;
}
.footer__logo--text {
  font-size: 8px;
}
.footer__socials {
  margin: 0 -4px;
}
.footer__columns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
  
}
.footer__column--title {
  margin-left: 2px;
}
.footer__copyright {
  margin-left: 4px;
  font-size: 8px;
}
.plans {
  display: flex;
  flex-wrap: wrap;
}
 }



  







 


